{%extends 'layout.html'%}
{%block content%}
  <div class = 'home'>
    <h1>Where To Ride</h1>
    <p>Bicyle Shops</p>
    <br>
    <P>BRENTWOOD</P>
      <ul>
          <li>R.B.'S Cyclery</li>
      </ul>
      <P>FRANKLIN</P>
      <ul>
          <li>MOAB</li>
      </ul>
    <P>HENDERSONVILLE</P>
      <ul>
          <li>Biker's Choice</li>
      </ul>
    <p>HERMITAGE</p>
      <ul>
          <li>Ride615</li>
      </ul>
    <P>MOUNT JULIET</P>
      <ul>
          <li>Biker's Choice</li>
      </ul>
    <P>MURFREESBORO</P>
      <ul>
          <li>MOAB</li>
      </ul>
    <P>NASHVILLE</P>
      <ul>
          <li>Eastside Cycles</li>
          <li>Gran Fondo</li>
          <li>Green Fleet Bicycle Shop</li>
          <li>Halcyon</li>
          <li>Trace Bikes</li>
          <li>Trail and Fitness Bicycles</li>
      </ul>
  </div>
{%endblock%}
