{%extends 'layout.html'%}
{%block content%}
  <div class = 'home'>
    <h1>Where To Ride</h1>
    <p>Bicyle Shops</p>
    <br>
    <P>BRENTWOOD</P>
      <ul>
          <li><a href="https://rbscyclery.com/" target="_blank">R.B.'S Cyclery</a></li>
      </ul>
      <P>FRANKLIN</P>
      <ul>
          <li><a href="http://moabbikes.com/" target="_blank">MOAB</a></li>
      </ul>
    <P>HENDERSONVILLE</P>
      <ul>
          <li><a href="https://thebikerschoice.com/" target="_blank">Biker's Choice</a></li>
      </ul>
    <p>HERMITAGE</p>
      <ul>
          <li><a href="http://www.ride615.com" target="_blank">Ride615</a></li>
      </ul>
    <P>MOUNT JULIET</P>
      <ul>
          <li><a href="https://thebikerschoice.com/" target="_blank">Biker's Choice</a></li>
      </ul>
    <P>MURFREESBORO</P>
      <ul>
          <li><a href="http://moabbikes.com/" target="_blank">MOAB</a></li>
      </ul>
    <P>NASHVILLE</P>
      <ul>
          <li><a href="http://www.eastside-cycles.com/" target="_blank">EastSide Cycles</a></li>
          <li><a href="http://www.granfondocycles.com/" target="_blank">Gran Fondo</a></li>
          <li><a href="https://greenfleetbikes.com" target="_blank">Green Fleet Bicycle Shop</a></li>
          <li><a href="http://halcyonbike.com" target="_blank">Halcyon</a></li>
          <li><a href="https://tracebikes.com" target="_blank">Trace Bikes</a></li>
          <li><a href="https://www.tf.bike" target="_blank">Trail and Fitness Bicycles</a></li>
      </ul>
  </div>
{%endblock%}
