{%extends 'layout.html'%}
{%block content%}
  <div class = 'home'>
    <h1>Where To Ride</h1>
    <p>Bicyle Clubs</p>
    <br>
    <P>BRENTWOOD</P>
      <ul>
          
      </ul>
    <P>CLARKSVILLE</P>
      <ul>
          <li><a href="http://www.clarksvillecycling.com/" target="_blank">Clarksville Cycling Club</a></li>
      </ul>
      <P>FRANKLIN</P>
      <ul>
          <li><a href="https://www.harpethbikeclub.com/" target="_blank">Harpeth Bike Club</a></li>
      </ul>
    <P>HENDERSONVILLE</P>
      <ul>
          
      </ul>
    <p>HERMITAGE</p>
      <ul>
          <li><a href="http://www.ride615.com/cycling-club.html" target="_blank">Ride615 Cycling Club</a></li>
      </ul>
    <P>MOUNT JULIET</P>
      <ul>
          <li><a href="https://veloteers.wildapricot.org/" target="_blank">Veloteers Bicycle Club</a></li>
      </ul>
    <P>MURFREESBORO</P>
      <ul>
          <li><a href="http://www.mborobike.com/" target="_blank">Murfreesboro Bike Club</a></li>
      </ul>
    <P>NASHVILLE</P>
      <ul>
          <li><a href="http://www.edgehillbikeclub.org/" target="_blank">Edgehill Bike Club</a></li>
          <li><a href="https://tracebikes.com/pages/group-rides-and-events" target="_blank">Trace Bikes Club</a></li>
      </ul>
  </div>
{%endblock%}
