{%extends 'layout.html'%}
{%block content%}
  <div class = 'home'>
    <h1>Where To Ride</h1>
    <p>GREENWAYS</p>
      <ul>
          <li>Cason Trail</li>
          <li>Khol's Trailhead -Stones River</li>
          <li>Percy Priest Trailhead - Stones River</li>
          <li>Shelby Bottoms</li>
          <li>Thompson Lane</li>
      </ul>
    <P>MOUNTAIN BIKE TRAILS</P>
      <ul>
          <li>Lock 4</li>
          <li>Hamilton Creek</li>
          <li>Percy Warner Mountain Bike Trail</li>
      </ul>
  </div>
{%endblock%}
